<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/style.css">
    <title>To do List</title>
</head>

<body>
    <div id="root" class="wrapper">
        <div class="logo">
            <img src="https://www.boolean.careers/images/misc/logo.png" alt="Logo Boolean">
        </div>
        <div class="input">
            <input type="text" v-model="newToDo" placeholder="aggiungi una nuova attività" @keyUp.enter="addToDo">
            <button @click="addToDo">Aggiungi</button>
        </div>
        <ul class="unordered-list" v-if="toDoList != ''">
            <li :class="(check==true) ? listBackgrounds.green : listBackgrounds.red" @click="checkButton(index)" v-for="({toDo, check}, index) in toDoList">
                {{toDo}}
                <span class="btn-style">
                    <i v-if="(check==true)" class="far fa-check-square"></i>
                    <i v-else class="far fa-square"></i>
                    <i @click="removeToDo(index)" class="fas fa-times"></i>
                </span>
            </li>
        </ul>
        <h2 id="add-new" v-else>Aggiungere un nuovo Task nella tua to do list</h2>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>
</body>

</html>